<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="urejevalnikBesedil_Zdjelar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <urejevalnikBesedil_Zdjelar.Properties.Settings>
            <setting name="Slogi" serializeAs="String">
                <value>Izberi slog...</value>
            </setting>
            <setting name="PrivzetFont" serializeAs="String">
                <value>Arial</value>
            </setting>
            <setting name="PrivzetaBarvaFonta" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="PrivzetaVelikostFonta" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="OdpriPrejsnjiDoc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OdpriNovDoc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrivzetiDirektorij" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrivzetoBesedilo" serializeAs="String">
                <value />
            </setting>
        </urejevalnikBesedil_Zdjelar.Properties.Settings>
    </userSettings>
</configuration>